.DS_Store
.qmake.stash
Resources/buildVersion.txt
Resources/styles.qrc
src/Utilities/qrc_application.cpp
src/Utilities/qrc_styles.cpp
src/objectsFolder/
FaustLive.app/
FaustLive.exe
FaustLive*.dmg
FaustLive*.tgz
FaustLive*.tar.gz
builddir
Build/bin
Build/FaustLive*.exe