[Desktop Entry]
Type=Application
Name=FaustLive
GenericName=Faust Dynamic Compiler
Comment=Embbeded Faust and LLVM Compiler in a QT application
Version=1.0
Terminal=false
Exec=FaustLive
Icon=faustlive
Categories=Development;


